{% extends 'core/base.html' %}
{% block title %}Checkout{% endblock %}
{% block content %}
<div class="page-container">

    <h1 class="page-title">Checkout</h1>
    <div class="checkout-wrapper">
        <div class="payment-details">
            <div class="shipping-information form-container">
                <h2>Shipping Information</h2>

                <div class="row-container">
                    <div class="form-field">
                        <label for="fname">First Name</label>
                        <input name="first_name" type="text" id="fname" value="{{ request.user.first_name }}">
                    </div>
                    <div class="form-field">
                        <label for="lname">Last Name</label>
                        <input name="last_name" type="text" id="lname" value="{{ request.user.last_name }}">
                    </div>
                </div>

                <div class="row-container">
                    <div class="form-field">
                        <label for="zip">Zip code</label>
                        <input name="zipcode" type="text" id="zip">
                    </div>
                    <div class="form-field">
                        <label for="location">City/Place</label>
                        <input name="place" type="text" id="location">
                    </div>
                </div>
                
                <div class="form-field">
                    <label for="address">Address</label>
                    <input name="address" type="text" id="address">
                </div>
            </div>


            <div class="contact-information form-container">
                <h2>Contact Information</h2>

                <div class="form-field">
                    <label for="email">Email</label>
                    <input name="email" type="email" id="email" value="{{ request.user.email }}">
                </div>
                <div class="form-field">
                    <label for="phone">Phone Number</label>
                    <input name="phone" type="phone" id="phone">
                </div>
            </div>

            <div id="errors"></div>

        </div>


        <div class="checkout-summary">
            <h3>Summary</h3>
            <ul>
                <li>
                    <p class="total-plus-fees">Total: <span>(includes shipping fees)</span></p>
                    <span>${{ cart.get_total_cost }}</span>
                </li>
            </ul>
            <button onclick="buy(event)" class="btn">Continue</button>
        </div>

    </div>

</div>
{% endblock %}

{% block scripts %}
<script type="application/javascript" src="https://js.stripe.com/v3/"></script>
<!-- <script src="https://js.stripe.com/v3/" async></script> -->
<script>
    let el = document.querySelector('#errors')

    function validateForm(data) {
        let errors = []

        if (data.first_name === '') {
            errors.push('First name is empty')
        }

        if (data.last_name === '') {
            errors.push('Last name is empty')
        }

        if (data.email === '') {
            errors.push('Email is empty')
        }

        if (data.phone === '') {
            errors.push('Phone is empty')
        }

        if (data.address === '') {
            errors.push('Address is empty')
        }

        if (data.zipcode === '') {
            errors.push('Zipcode is empty')
        }

        if (data.place === '') {
            errors.push('Place is empty')
        }

        return errors
    }

    function buy(event) {
        event.preventDefault()

        let data = {
            'first_name': document.querySelector('input[name=first_name]').value,
            'last_name': document.querySelector('input[name=last_name]').value,
            'email': document.querySelector('input[name=email]').value,
            'phone': document.querySelector('input[name=phone]').value,
            'address': document.querySelector('input[name=address]').value,
            'zipcode': document.querySelector('input[name=zipcode]').value,
            'place': document.querySelector('input[name=place]').value,
        }

        let errors = validateForm(data)

        if (errors.length) {
            console.log('Errors', errors)
        } else {
            var stripe = Stripe('{{ pub_key }}')

            fetch('/order/start_order/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                credentials: 'same-origin',
                body: JSON.stringify(data)
            })
            .then(function(response) {
                return response.json()
            })
            .then(function(session) {
                return stripe.redirectToCheckout({ sessionId: session.session.id })
            })
            .then(function(result) {
                if (result.error) {
                    alert(result.error.message)
                }
            })
            .catch(function(error) {
                console.log('Errors', error)
            })
        }

        if (errors.length > 0){
            el.style.display = 'block'
            let html = '<ul>';
            
            errors.forEach((error) =>{
                html += '<li>' + error + '</li>'
            })
            el.innerHTML = html + '</ul>'
        }else{
            el.innerHTML = ''
        }
        return false
    }
</script>
{% endblock %}